$textColor: #262626;
$textDark: #262626;
$borderDark: #595959;


// 一级标题颜色
$white: #FFFFFF;
$dark: #000000;
$headerColor: #262626;
$subHeaderColor: #808080;
$activeColor: #fa28a5;

// 渐变
$gradient1: linear-gradient(135deg, #12c2e9, #c471ed, #f64f59);